
/* Your CSS Code here. */
.holder {
        display: grid;
        grid-template-columns: 100px 100px;
        grid-template-rows: 100px 100px;
        width: 200px;
        height: 200px;
        gap: 5px;
    }
 .item {
        background-color: lightblue;
        border: 1px solid black;
        text-align: center;
        line-height: 90px;
    }